@import 'css/settings';

.c-leading-practices-page {
  .leading-practices-container {
    position: relative;

    .filters-container {
      display: flex;
      justify-content: flex-end;
      margin: 0 0 25px;

      :global(.c-select) {
        min-width: 340px;

        :global(.react-selectize-placeholder),
        :global(.value-wrapper) {
          font-size: $font-size-bigger;
          color: $color-8;
        }
      }
    }

    .paginator-container {
      display: flex;
      justify-content: center;
      margin: 55px 0 0;
    }
  }
}
