.sources-link {
  display: inline-block;
  margin: 15px 0 0;

  color: $color-7;
  font-style: italic;
  text-decoration: underline;

  &.-black {
    color: $color-1;
  }

  @media print {
    display: none;
  }
}
