
.c-subsidiaries-table {

  .table-container {
    position: relative;
    margin: 25px 0 0;
  }

  .pagination-filter {
    display: flex;
    justify-content: flex-end;
    margin: 35px 0 0;
  }

  .paginator-container {
    display: flex;
    justify-content: center;
    margin: 25px 0 0;
  }
}
