@import 'css/settings';

.c-summary {
    padding: 45px 90px;
    background: $color-7;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba($color-1, .1);
    transform: translate(0, -25px);

    :global(p) {
      text-indent: 30px;

      &:first-child {
        margin: 30px 0 0;
      }
    }

    .title {
      font-family: $font-family-2;
      font-size: $font-size-big;
      text-transform: uppercase;
    }
  }
