{
  "plugins": [
    "add-react-displayname",
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "components": "./components",
          "pages": "./pages",
          "css": "./css",
          "services": "./services",
          "utils": "./utils"
        }
    }]
  ],
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        },
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ],
  "ignore": []
}
