@import 'css/settings';

.c-disclaimer {
  > .disclaimer-text {
    font-size: $font-size-small;
    font-weight: $font-weight-light;
    line-height: 1.8;

    a {
      font-style: italic;
    }
  }
}
