@import 'css/settings';

.c-footer {
  padding: 25px 0;
  background: $color-3;

  color: $color-7;

  .footer-section {
    &:not(:first-child) {
      padding: 55px 0 0;
    }

    &.-vizzuality {
      span {
        display: flex;
        align-items: center;

        > a  {
          margin: 0 0 0 5px;
        }
      }
    }
  }

  .left-side {
    padding: 0;

    @media #{$mq-md} {
      padding: 45px 45px 45px 0;
      border-right: 1px solid $color-2;
    }

    .footer-section {
      &:last-child {
        padding: 25px 0 0;

        @media #{$mq-md} {
          padding: 150px 0 45px;
        }
      }

      > .footer-nav-links-list > .footer-nav-links-item {
        > a {
          font-weight: $font-weight-bold;
          text-decoration: underline;
        }

        &:not(:first-child) {
          margin: 15px 0 0;
        }

        &:last-child {
          margin: 55px 0 0;

          > a {
            padding: 10px 0 0;
            border-top: 2px solid rgba($color-7, .2);
          }
        }
      }
    }
  }

  .right-side {

    .footer-section {
      &:first-child {
        display: none;
      }

      > .subscribe-title {
        font-size: $font-size-huge;
      }

      > .subscribe-form {
        display: flex;
        flex-direction: column;
        margin: 25px 0 0;

        input[type="email"] {
          flex-grow: 1;
          padding: 20px;
          background: $color-1;
        }

        button[type="submit"] {
          flex-grow: 1;
          margin: 15px 0 0;
          padding: 20px 0;
          background: $color-2;

          @media #{$mq-md} {
            margin: 0 0 0 5px;
          }
        }

        @media #{$mq-md} {
          flex-direction: row;
          margin: 75px 0 0;
        }
      }
    }

    @media #{$mq-md} {
      padding: 45px 0 0 45px;
    }
  }
}
