@import 'css/settings';

.c-barchart {

  :global(text > tspan) {
    font-size: 12px;
    fill: $color-7;

    @media #{$mq-md} {
      font-size: $font-size-regular;
    }
  }

  @media print {
    margin: 35px 0 0;

    :global(text) {
      fill: $color-1 !important;
    }

    :global(line) {
      stroke: $color-1 !important;
    }
  }
}
