@import 'css/settings';

.c-index-page {

  .splash {
    padding: 250px 0;

    background-image: url('/static/images/homepage_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .title {
      font-family: $font-family-2;
      font-size: $font-size-giant;
      color: $color-7;
      line-height: 1.2;
    }

    .subtitle {
      color: $color-7;
      margin-top: 25px;
    }
  }

  .download-summary {
    padding: 50px 0;
    background: $color-2;

    border-bottom: 1px solid rgba($color-7, .2);

    .download-button-container {
      display: flex;
      flex-direction: column;

      @media #{$mq-md} {
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  .intro {

    .text-section {

      &:first-child {
        margin: 0 0 20px;
      }

      .title {
        font-family: $font-family-2;
        font-size: $font-size-bigger;
        color: $color-7;

        & + p {
          margin: 20px 0 0;
        }
      }

      p {
        color: $color-7;

        & + .title {
          margin: 20px 0 0;
        }
      }

      img {
        margin: 35px 0 0;
        width: 100%;
      }
    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      margin: 35px 0 0;

      > :global(button) {
        &:not(:first-child) {
          margin: 15px 0 0;
        }
      }

      @media #{$mq-md} {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 25px;

        > :global(button) {
          &:not(:first-child) {
            margin: 0 auto auto;
          }
        }
      }
    }
  }

  .splash-credits {
    padding: 10px 0;
    background: $color-2;

    .credits {
      font-size: $font-size-smallest;
      font-style: italic;
      color: $color-7;
    }
  }
}
