
.c-mine-sites-detail-assessments-table {
  position: relative;

  .search-container {
    display: flex;
    margin: 35px 0 25px;
  }

  .paginator-container {
    display: flex;
    justify-content: center;
    margin: 25px 0 0;
  }
}
