
.c-mine-sites-detail-assessments-table {
  position: relative;

  .filters-container {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 25px;
  }

  .paginator-container {
    display: flex;
    justify-content: center;
    margin: 25px 0 0;
  }
}
