@import 'css/settings';
@import 'css/mixins';

.c-printable-issue-areas {

  .issue-area-list {
    .issue-area-header {
      display: flex;
      align-items: center;
      margin: 35px 0;

      :global(.c-icon) {
        fill: $color-7;
      }

      > .issue-area-title {
        margin: 0 0 0 25px;
        font-size: $font-size-big;
        font-weight: $font-weight-light;
        color: $color-1;
      }
    }
  }

  .issue-areas-indicators-list {
    .issue-areas-indicators-header {
      padding: 0 0 25px;
      border-bottom: 1px solid rgba($color-1, .2);

      .issue-areas-indicators-title {
        position: relative;
        color: $color-1;
        text-transform: uppercase;
        line-height: 1.25;
      }
    }
  }

  .issue-areas-indicators-children-list {
    padding: 0 0 15px;

    .indicator-child-block {
      margin: 25px 0;
      padding: 15px 0;

      @media print {
        page-break-before: avoid;
        page-break-inside: avoid;
        page-break-after: avoid;
      }

      .indicator-child-title {
        color: $color-1;
        line-height: 1.25;
      }

      :global(.row) {
        :global(.col-xs-12:first-child) {
          flex-basis: 60%;
          max-width: 60%;
        }

        :global(.col-xs-12:last-child) {
          flex-basis: 40%;
          max-width: 40%;
        }
      }

      :global(.c-score-comparison) {
        color: $color-1;

        :global(.score-value-string) {
          color: $color-1 !important;
        }

        :global(.score-avg),
        :global(.score-max),
        :global(.score-min) {
          border-color: $color-1 !important;

          :global(span) {
            color: $color-1 !important;
          }
        }
      }
    }
  }
}
