@import 'css/settings';

.c-mine-sites-detail-country-comparison {

  .explanation {
    color: $color-7;
    font-style: italic;

    @media print {
      color: $color-1;
    }
  }

  .country-comparison-table {
    table-layout: fixed;
    width: 100%;
    margin: 35px 0 0;
    color: $color-5;

    > thead {
      > tr {
        .country-header {
          padding: 0 0 15px;
        }

        .country-value {
          padding: 0 0 15px;
          color: $color-7;
          font-size: $font-size-big;
          font-weight: $font-weight-bold;
          text-transform: uppercase;

          @media print {
            color: $color-1;
          }
        }
      }
    }

    > tbody {
      > tr {

        &:hover {
          color: $color-7;
        }

        &:not(.first-from-group) {
          border-top: 1px solid $color-5;


          @media print {
            border-top: 1px solid $color-1;
          }
        }

        > td {
          padding: 10px 0;

          :global(.date) {
            font-style: italic;
            font-weight: $font-weight-regular;
          }

          &:last-child {
            text-align: center;
            color: $color-7;
            font-weight: 700;

            @media print {
              font-weight: $font-weight-regular;
              color: $color-1;
            }
          }
        }
      }

      .last-from-group {
        &:not(:last-child) {
          > td {
            padding-bottom: 35px;
          }
        }
      }
    }

    @media print {
      color: $color-1;
    }
  }
}
