@import 'css/settings';

.c-results-detail-page {
  .explanation {
    margin: 35px 0 0;

    .aggregation-line {
      display: inline-block;
      margin: 0 10px 0 0;
      font-weight: $font-weight-bold;
      color: $color-8;
    }

    > p {
      color: $color-7;
      font-style: italic;
    }
  }

  :global(.c-summary) {
    margin: 35px 0 0;
  }

  :global(.c-accordion) {
    margin: 55px 0 0;
  }
}
