@import 'css/settings';

.c-companies-detail-overall-measurements {

  .charts-container {
    margin: 25px 0 0;
  }

  .title {
    text-align: center;
  }

  .overall-legend {
    margin-top: 25px;
    font-size: $font-size-regular;
    font-weight: $font-weight-light;
    line-height: 1.8;
    font-style: italic;
  }

  .chart-legend {
    > .title {
      font-family: $font-family-1;
      font-size: $font-size-bigger;
      font-weight: $font-weight-light;
      text-align: center;
    }
  }
}
