@import 'css/settings';

.c-companies-detail-overall-measurements {

  .charts-container {
    margin: 25px 0 0;
  }

  .title {
    text-align: center;
  }

  .chart-legend {
    > .title {
      text-align: center;
      font-family: $font-family-1;
      font-size: $font-size-bigger;
      font-weight: $font-weight-regular;
    }
  }
}
