@import 'css/settings';

.c-breadcrumbs {
  .breadcrumbs-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    > .breadcrumbs-item {
      font-size: $font-size-big;
      font-weight: $font-weight-bold;

      &:not(:first-child) {
        border-left: 2px solid $color-6;
        padding: 0 10px;
      }

      &:first-child {
        padding: 0 10px 0 0;
      }

      &:last-child {
        padding: 0 0 0 10px;
      }

      &.-selected {
        color: $color-8;
      }
    }
  }
}
