@import 'css/settings';


.c-overall-graphs {
  margin: -45px 0 0;

  .explanation {
    margin: 55px 0 0;

    > p {
      font-style: italic;
      color: $color-7;
    }
  }
}

.graph-item {
  margin: 45px 0 0;

  .chart-legend {
    display: flex;
    align-items: center;

    @media #{$mq-md} {
      margin: 0 0 0 65px;
    }

    > .icon-background {
      display: inline-flex;

      > :global(.c-icon) {
        fill: $color-7;
      }

      & + .title {
        margin: 0 0 0 15px;
      }
    }

    > .title {
      font-family: $font-family-1;
      font-size: $font-size-big;
      color: $color-7;
    }
  }
}
