@import 'css/settings';

.c-select {
  max-width: 85%;

  &.-underline {
    border-bottom-width: 1px;
    border-bottom-style: solid;

    &.dark {
      border-bottom-color: $color-1;
    }

    &.light {
      border-bottom-color: $color-7;
    }
  }

  .react-selectize {
    min-width: 210px;
    color: $color-1;

    &.root-node {
      position: relative;
      width: auto;

      &.disabled {
        pointer-events: none;
      }

      .react-selectize-control {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        position: relative;
        padding: 2px;
        border: 0;
        background: none;

        font-family: inherit;
        font-size: $font-size-regular;
        font-weight: $font-weight-bold;


        .react-selectize-placeholder {
          display: block;
          line-height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: middle;
          white-space: nowrap;
          position: initial !important;
          max-width: calc(100% - 56px);
        }

        .react-selectize-search-field-and-selected-values {
          display: flex;
          min-height: 30px;
          flex-grow: 1;
          flex-wrap: wrap;

          .resizable-input {
            width: 0px;
            padding: 4px 0px;
            margin: 2px;
            border: none;
            background: none;
            outline: none;
            vertical-align: middle;

            font-family: inherit;
            font-size: $font-size-regular;
            font-weight: $font-weight-light;
          }

          .value-wrapper {
            display: flex;
            align-items: center;
            margin: 0;
          }
        }

        .react-selectize-reset-button-container,
        .react-selectize-toggle-button-container {
          flex-grow: 0;
          flex-shrink: 0;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
        }

        .react-selectize-reset-button-container {
          width: 16px;
        }

        .react-selectize-toggle-button-container {
          width: auto;
          margin: 0 0 0 10px;
        }

        .react-selectize-reset-button-container:hover
        .react-selectize-reset-button path {
          stroke: inherit;
        }

        .react-selectize-reset-button path {
          transition: stroke 0.5s 0s ease;
          stroke: #999;
          stroke-width: 2px;
          stroke-linecap: square;
          stroke-linejoin: mitter;
        }
        .react-selectize-toggle-button path {
          fill: #999;
        }
      }
    }
    &.dropdown-menu-wrapper {
      position: absolute;
      &.tethered {
        min-width: 300px;
      }
      &:not(.tethered) {
        width: 100%;
      }
    }
    &.dropdown-menu {
      box-sizing: border-box;
      overflow: auto;
      position: absolute;
      max-height: 200px;
      z-index: 10;

      padding: 5px 10px;
      background: $color-7;
      box-shadow: 0 4px 16px 0 rgba($color-1 ,.1);

      text-align: left;

      &.tethered {
        min-width: 300px;
      }
      &:not(.tethered) {
        width: 100%;
      }
      .groups.as-columns {
        display: flex;
        > div {
          flex: 1;
        }
      }
      .option-wrapper {
        cursor: pointer;
        outline: none;
        margin: 0;

        &.highlight {
          margin: 0;
          font-size: $font-size-regular;
          font-weight: $font-weight-regular;
          line-height: inherit;
          color: $color-8;
        }

        &:not(:first-child) {
          margin: 10px 0 0;

          &.highlight {
            margin: inherit;
          }
        }
      }
    }

    // themes
    &.dark {
      > .react-selectize-control {
        > .react-selectize-placeholder {
          color: $color-1;
        }

        .react-selectize-toggle-button-container {
          > .react-selectize-toggle-button > path {
            fill: $color-1;
          }
        }

        .react-selectize-reset-button-container {
          > .react-selectize-reset-button > path {
            stroke: $color-1;
          }
        }

        .react-selectize-search-field-and-selected-values {
          color: $color-1;
        }

        .value-wrapper {
          color: $color-1;
        }
      }
    }

    &.light {
      > .react-selectize-control {
        > .react-selectize-placeholder {
          color: $color-7;
        }

        .react-selectize-toggle-button-container {
          > .react-selectize-toggle-button > path {
            fill: $color-7;
          }
        }

        .react-selectize-reset-button-container {
          > .react-selectize-reset-button > path {
            stroke: $color-7;
          }
        }

        .react-selectize-search-field-and-selected-values {
          color: $color-7;
        }

        .value-wrapper {
          color: $color-7;
        }
      }
    }
  }

  .multi-select.react-selectize.root-node .simple-value {
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
    span {
      display: inline-block;
      padding: 2px 5px 4px;
      vertical-align: center;
    }
  }

  .simple-select.react-selectize.root-node .simple-value {
    margin: 2px;
    span {
      display: inline-block;
      vertical-align: center;
    }
  }

  & + .c-select {
    margin: 0 0 0 35px;
  }
}

