@import 'css/settings';

.c-scores-list {
  list-style: none;
  margin: 35px 0 0;

  > .title {
    font-family: $font-family-2;
    font-size: $font-size-huge;
    line-height: 1.4;
  }

  .list-headers {
    display: flex;
    margin: 25px 0 0;
    justify-content: space-between;

    > .list-headers-item {
      font-weight: $font-weight-light;

      &:first-child {
        flex-grow: 2;
      }
    }
  }

  .list-content {
    display: flex;
    flex-direction: column;
    margin: 25px 0 0;

    > .list-content-item {
      display: flex;
      padding: 10px 0;
      justify-content: space-between;

      &:first-child {
        flex-grow: 2;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba($color-1, .2);
      }

      > .name,
      > .value {
        font-size: $font-size-small;
      }

      > .name {
        font-weight: $font-weight-bold;
        line-height: 1.4;
      }

      > .value {
        flex-basis: 25%;
        text-align: right;
      }
    }
  }

  .unknown {
    font-weight: $font-weight-bold;
  }
}
