@import 'css/settings';

.c-measurement-charts {
  :global(.c-measurement-chart-item) {
    margin: 25px 0 0;

    @media #{$mq-md} {
      margin: 0;
    }
  }

  @media #{$mq-md} {
    margin: 55px 0 0;
  }
}
