@import 'css/settings';

.c-companies-detail-scores-breakdown {

  .mine-sites-results {
    .subtitle {
      font-size: $font-size-bigger;
      margin-bottom: 40px;
    }
  }

  .score-section {
    &:not(:first-child) {
      margin: 35px 0 0;
    }
  }

  .summary {
    padding: 45px 90px;
    background: $color-7;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba($color-1, .1);
    transform: translate(0, -25px);

    > .title {
      font-family: $font-family-2;
      font-size: $font-size-big;
      text-transform: uppercase;

      & + p {
        margin: 15px 0 0;
      }
    }
  }

  .overall-scores-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px 0;
  }

  .overall-measurement-container {
    border-top: 1px solid black;
    padding: 35px 0 75px;

    .barchart-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 50px 0 0;
    }
  }

  .graph-legend {
    margin-bottom: 50px;
    font-size: $font-size-regular ;
    font-weight: $font-weight-light;
    line-height: 1.8;
    font-style: italic;
  }

  .measurement-scores-container {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      display: inline-block;
      height: 2px;
      width: 80%;
      background-color: $color-6;
    }
  }

  .contextual-table {
    &:not(:first-child) {
      margin: 35px 0 0;
    }
  }

  .miscellaneous-lists {
    margin: -35px 0 0;

    :global(.title) {
      margin: 35px 0 0;
    }
  }

  .accordion-header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 35px 0px;
    background: $color-3;
    color: $color-7;
    font-size: $font-size-bigger;
    font-family: $font-family-2;
  }
}
