@import 'css/settings';
@import 'css/mixins';

.accordion__item {

  .accordion__title {
    padding: 35px 0;

    border-bottom: 1px solid rgba($color-7, .2);
    cursor: pointer;
    outline: 0;

    .category-name {
      position: relative;
      padding: 0 0 0 50px;

      font-family: $font-family-2;
      text-transform: uppercase;
      line-height: 1.25;
      color: $color-7;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        @include arrow(14px, 1px, rgba($color-7, .2), 'right');
        transform: translate(0, -50%) rotate(45deg);

        @media print {
          display: none;
        }
      }

      @media print {
        padding: 0;

        font-size: $font-size-small;
        color: $color-1;
      }
    }

    @media print {
      padding: 10px 0;
      color: $color-1;
    }

    &[aria-expanded=true] {
      .category-name {
        &:before {
          top: calc(50% - 11px);
          @include arrow(14px, 1px, rgba($color-7, .2), 'down');

          @media print {
            display: none;
          }
        }
      }
    }

    @media print {
      border-bottom: 1px solid $color-1;
    }
  }

  .accordion__body {
    display: block;
    animation: fadein .35s ease-in;
    padding: 15px 20px 35px;

    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    line-height: 1.5;
    color: $color-7;

    &:not(:first-child) {
      margin: 35px 0 0;
    }

    @media #{$mq-md} {
      padding: 30px 0 30px 50px;
    }

    @media print {
      padding: 0 20px 5px;
      color: $color-1 !important;

      :global(.row) {
        :global(.col-xs-12:first-child) {
          flex-basis: 75%;
          max-width: 75%;
        }

        :global(.col-xs-12:last-child) {
          flex-basis: 25%;
          max-width: 25%;
        }
      }
    }


    @media print {
      :global(.block-title) {
        color: $color-1 !important;
      }
    }
  }

  .accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein .35s ease-in;
  }

  &:first-child {
    .accordion__title {
      padding: 0 0 35px;

      @media print {
        padding: 0 0 15px;
      }
    }
  }
}

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@-moz-keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
