@import 'css/settings';

.c-language-bar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 10px 25px;
  min-height: 36px;
  min-width: 150px;
  background: $color-7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 16px 0 rgba($color-1, .1);

  > .languages-list {
    display: flex;
  }

  > .languages-list > .languages-item {
    display: inline-block;

    &:not(:first-child) {
      margin-left: 15px;
    }

    > button {
      font-family: $font-family-2;
      font-size: $font-size-smallest;
      color: rgba($color-1, .5);
      text-transform: uppercase;

      &:hover {
        color: $color-8;
      }
    }

    &.-selected {
      button {
        color: $color-8;
      }
    }
  }
}
