@import 'css/settings';

.c-modal-content {

  @media #{$mq-md} {
    padding: 35px;
  }

  .title {
    font-family: $font-family-2;
    font-size: $font-size-huge;
    line-height: 1.43;
  }

  .company {
    padding: 0 0 20px;
    margin: 25px 0 20px;
    border-bottom: 1px solid $color-6;

    color: $color-8;
  }
}
