@import 'css/settings';

.c-companies-list {
  height: 100%;

  .content {
    position: relative;
    height: 100%;
    margin: -10px 0 0;

    .row.-equal-height div[class*=col] {
      margin-top: 10px;

      padding-left: 5px;
      padding-right: 5px;
    }

    .companies-list-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      margin: 5px 0 0;
      border: 1px solid $color-5;

      &:hover {
        border-color: $color-7;
      }

      > .company-name {
        z-index: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 10px;

        font-size: $font-size-small;
        color: $color-7;
        text-align: center;
        cursor: pointer;
      }
    }

    .veil {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 4;
    }
  }

  .not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;

    color: $color-7;
  }
}

:global(.companies-list-tooltip-tether) {
  z-index: 5;
}

.companies-list-tooltip {
  max-width: 385px;
  background: $color-3;

  .company-link {
    display: inline-block;
    width: 100%;
    background: $color-7;
    padding: 25px 0;

    font-size: $font-size-big;
    text-align: center;
  }
}
