@import 'settings';

// base
@import 'reset';
@import 'base';

.c-error-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  align-items: center;
  justify-content: center;

  background: $color-6;

  .code {
    font-size: $font-size-giant;
    color: $color-8;
  }

  .description {
    font-size: $font-size-big;
    text-align: center;

    a {
      color: $color-8;
    }
  }
}
