@import 'css/settings';

.c-header {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: $header-height;
  background: $color-7;
  box-shadow: 0 4px 16px 0 rgba($color-1, .1);

  &.-theme-1 {
    background: $color-2;
  }

  &.-theme-2 {
    background: $color-7;
  }

  .header-top {
    display: flex;
    justify-content: flex-end;
  }

  @media print {
    display: none;
  }
}
