@import 'css/settings';

.c-stacked-bars-chart {
  width: 100%;

  :global(.recharts-yAxis tspan) {
    fill: $color-5;
  }

  :global(.recharts-xAxis tspan) {
    fill: $color-7;
  }

  :global(.recharts-label) {
    transform: translate(0, -12px);

    > :global(tspan) {
      fill: $color-8;
      font-size: $font-size-regular;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
  }
}
