@import 'css/settings';

$bar-height: 15px;

.c-stacked-bars {
  display: flex;

  &:not(:first-child) {
    margin: 30px 0 0;
  }

  > .bar-icon {
    width: 48px;
    height: 48px;

    > :global(svg) {
      fill: $color-7;
      stroke: $color-7;
    }
  }

  > .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 0 10px;

    > .bar-header {
      > .bar-title {
        font-size: $font-size-regular;
      }
    }

    > .stacked-bars-container {
      display: flex;
      margin: 10px 0 0;
      justify-content: space-between;

      .bar {
        display: inline-flex;
        flex-grow: 1;
        height: $bar-height;
        background: $color-6;
      }

      .bar > .bar-node {
        display: inline-block;
        height: 100%;
        cursor: pointer;

        &:not(:first-child) {
          border-left: 1px solid $color-6;
        }
      }

      .score {
        margin: 0 0 0 20px;

        .current-score {
          font-weight: $font-weight-bold;

          > .total-score {
            font-weight: $font-weight-regular;
          }
        }
      }
    }
  }





}
